
@{
    ViewBag.Title = "ChiTietsp";
    Layout = "~/Views/Shared/_Mainlayout.cshtml";
}

<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="category.html">Category</a></li>
                    <li><a href="#">iPhone</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="product">
                    <div class="col-md-6">
                        <div class="image">
                            <img src="~/Asset/images/iphone-12-pro.jpg" />
                            <div class="image-more">
                                <ul class="row">
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/Asset/images/iphone-12-pro.jpg"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/Asset/images/iphone-12-pro-max-trang-bac.jpg"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/Asset/images/iphone-12-pro-max-xam.jpg"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="caption">
                            <div class="name"><h3>iPhone 12 Pro Max 512GB</h3></div>
                            <div class="info">
                                <ul>
                                    <li>Brand: text</li>
                                    <li>ID: 0122222</li>
                                </ul>
                            </div>
                            <div class="price">33.990.000đ<span>31.690.000đ</span></div>
                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            <div class="well"><label>Qty: </label> <input class="form-inline quantity" type="text" value="1"><a href="#" class="btn btn-2 ">ADD</a></div>
                            <div class="share well">
                                <strong style="margin-right: 13px;">Share :</strong>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-desc">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description">Description</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="description" class="tab-pane fade in active">
                            <h4> Đặc điểm nổi bật của iPhone 12 Pro Max 512GB</h4>
                            <p>iPhone 12 Pro Max 512GB - đẳng cấp từ tên gọi đến từng chi tiết. Ngay từ khi chỉ là tin đồn thì chiếc smartphone này đã làm đứng ngồi không yên bao “fan cứng” nhà Apple, với những nâng cấp vô cùng nổi bật hứa hẹn sẽ mang đến những trải nghiệm tốt nhất về mọi mặt mà chưa một chiếc iPhone tiền nhiệm nào có được.</p>
                            <h4>Iphone12 Thu hút từ cái nhìn đầu tiên</h4>
                            <p>Quay trở lại đầy hoài niệm với thiết kế phẳng, vuông vức tương tự iPhone 4 nhưng không hề cho cảm giác lỗi thời mà hoàn toàn sang trọng với thiết kế tinh tế và được cấu tạo từ những vật liệu cao cấp hơn.</p>
                        </div>
                    </div>
                </div>
                <div class="product-related">
                    <div class="heading"><h2>Tất Cả Dòng Điện Thoại</h2></div>
                    <div class="products">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="product.html"><img src="~/Asset/images/iphone-12-pro.jpg" /></a></div>
                                <div class="buttons">
                                    <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                    <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3><a href="product.html">iPhone 12 Pro Max 512GB</a></h3></div>
                                    <div class="price">33.990.000đ<span>31.690.000đ</span></div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="product.html"><img src="~/Asset/images/galaxy-s4.jpg" /></a></div>
                                <div class="buttons">
                                    <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                    <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3><a href="product.html">Aliquam erat volutpat</a></h3></div>
                                    <div class="price">$122<span>$98</span></div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="product.html"><img src="~/Asset/images/oppo-reno5.jpg" /></a></div>
                                <div class="buttons">
                                    <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                    <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3><a href="product.html">OPPO Reno5</a></h3></div>
                                    <div class="price">9.690.000đ</div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            </div>
                <div id="sidebar" class="col-md-4">
                    <div class="widget wid-categories">
                        <div class="heading"><h4>CATEGORIES</h4></div>
                        <div class="content">
                            <ul>
                                <li><a href="#">PC Computers</a></li>
                                <li><a href="#">Laptops & Notebooks</a></li>
                                <li><a href="#">Mobiles & Tablet</a></li>
                                <li><a href="#">Software</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
    </div>
</div>

